.site-footer {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 2rem 0;
  padding: 0 1rem;
  text-align: center;
}
.site-footer a {
  color: #757575;
  text-decoration: underline;
}
