.site-footer {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
}
.site-footer a {
  color: #757575;
}
.site-footer a:hover {
  text-decoration: underline;
}
